
# Build output
out/
build/
Debug/
Release/
*.log
*.obj
*.dll
*.exe
*.pdb
*.ilk

# Chromium-specific
.chromium_git
.gclient
depot_tools/

# OS-generated
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.user
*.VC.db
